* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'atkinson';
  src: url("../fonts/TTF/Atkinson-Hyperlegible-Regular-102.ttf");
}

@font-face {
  font-family: 'atkinson bold';
  src: url("../fonts/TTF/Atkinson-Hyperlegible-Bold-102.ttf");
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(41, 41, 41, 0.7)), color-stop(rgba(41, 41, 41, 0.7)), to(transparent)), url("../images/zanzibar.jpg");
  background-image: linear-gradient(rgba(41, 41, 41, 0.7), rgba(41, 41, 41, 0.7), transparent), url("../images/zanzibar.jpg");
  animation: zoomIn linear alternate-reverse 5s infinite;
}

@-webkit-keyframes zoomIn {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@keyframes zoomIn {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

.home-container {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.home-container .nav-bar {
  padding-top: 1rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#292929), to(transparent));
  background-image: linear-gradient(#292929, transparent);
}

.home-container nav {
  width: 90%;
  height: 10vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-container nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-container nav .logo #logo-svg {
  width: 7rem;
}

.home-container nav .logo h1 {
  font-size: 2.5rem;
  color: #FE9636;
  font-family: 'atkinson';
}

.home-container nav ul {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-container nav li {
  list-style: none;
  background-color: transparent;
  padding: 1rem;
  border-radius: .5rem;
  -webkit-transition: -webkit-box-shadow linear .3s;
  transition: -webkit-box-shadow linear .3s;
  transition: box-shadow linear .3s;
  transition: box-shadow linear .3s, -webkit-box-shadow linear .3s;
  font-family: 'atkinson';
  height: 10vh;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.home-container nav li .link-div {
  height: 90%;
  width: 80%;
  border: 2px solid #FE9636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #161616;
}

.home-container nav li a {
  display: inline-block;
  text-decoration: none;
  color: #FE9636;
  font-size: 2rem;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

.home-container nav li a:hover {
  color: orange;
}

.home-container .big-text {
  margin-top: 4rem;
  -webkit-animation: slideSmallUp .5s ease-in-out;
          animation: slideSmallUp .5s ease-in-out;
}

.home-container .big-text h1 {
  text-align: center;
  color: transparent;
  font-family: 'atkinson';
  font-size: 12rem;
  background: -webkit-gradient(linear, left top, right top, from(#FE9636), to(white));
  background: linear-gradient(90deg, #FE9636, white);
  -webkit-background-clip: text;
}

@-webkit-keyframes slideSmallUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideSmallUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.home-container .animated-text {
  margin-top: 2rem;
  position: relative;
  -webkit-animation: slideUp .5s ease-in-out;
          animation: slideUp .5s ease-in-out;
}

.home-container .animated-text h1 {
  text-align: center;
  font-size: 4rem;
  color: white;
  font-family: 'atkinson';
}

.home-container .animated-text h1 #text {
  text-align: center;
  font-size: 4rem;
  color: white;
  font-family: 'atkinson';
}

.home-container .animated-text h1::after {
  content: '';
  position: absolute;
  top: -15%;
  height: 4.5rem;
  width: .3rem;
  background-color: black;
  margin: .7rem;
  -webkit-animation: blinker .5s infinite;
          animation: blinker .5s infinite;
}

@-webkit-keyframes blinker {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blinker {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-container .btn-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30vh;
  overflow: hidden;
}

.home-container .btn-div #book-btn {
  cursor: pointer;
  padding: 1.5rem 3rem;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  -webkit-transition: background-color ease-in-out .3s, -webkit-box-shadow linear .3s;
  transition: background-color ease-in-out .3s, -webkit-box-shadow linear .3s;
  transition: box-shadow linear .3s, background-color ease-in-out .3s;
  transition: box-shadow linear .3s, background-color ease-in-out .3s, -webkit-box-shadow linear .3s;
  font-family: 'atkinson';
  font-size: 2rem;
  -webkit-animation: slideUp .7s ease-in-out;
          animation: slideUp .7s ease-in-out;
}

@-webkit-keyframes slideUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.home-container .btn-div #book-btn:hover {
  -webkit-box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.507);
          box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.507);
}

.home-container .search {
  height: 15rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("../images/sand.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-container .search .input-fields {
  width: 80%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-container .search .input-fields input {
  width: 30rem;
  border: 2px solid #FE9636;
  background-color: #252525;
  margin-right: 1rem;
  height: 5rem;
  padding: 1.5rem;
  outline: none;
  font-family: 'atkinson';
  font-weight: 100;
  color: white;
  font-size: 1.5rem;
}

.home-container .search .input-fields input::-webkit-input-placeholder {
  color: #d1d1d1;
  font-family: 'atkinson';
  font-weight: 100;
}

.home-container .search .input-fields input:-ms-input-placeholder {
  color: #d1d1d1;
  font-family: 'atkinson';
  font-weight: 100;
}

.home-container .search .input-fields input::-ms-input-placeholder {
  color: #d1d1d1;
  font-family: 'atkinson';
  font-weight: 100;
}

.home-container .search .input-fields input::placeholder {
  color: #d1d1d1;
  font-family: 'atkinson';
  font-weight: 100;
}

.home-container .search .input-fields button {
  border: 2px solid #FE9636;
  border-radius: 3rem;
  background-color: black;
  padding: 1rem 3rem;
  font-size: 2rem;
  color: #FE9636;
  font-family: 'atkinson';
  font-weight: 100;
  cursor: pointer;
}

.footer {
  min-height: 70vh;
  width: 100vw;
  background-color: #0B0B0B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .contact-info {
  width: 40%;
  height: 85%;
}

.footer .contact-info .seperation-bar {
  width: 80%;
  border: 1px solid white;
  margin: 2rem 0;
}

.footer .contact-info .mini-nav {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.footer .contact-info .logo h1 {
  font-size: 3rem;
  color: white;
  font-family: 'atkinson';
}

.footer .contact-info .social-media-handles ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .contact-info .social-media-handles ul li {
  list-style: none;
  margin-left: 1rem;
}

.footer .contact-info .social-media-handles ul li a {
  color: #acacac;
  font-size: 2.5rem;
}

.footer .contact-info .easy-reach {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .contact-info .easy-reach .telephone h3 {
  color: white;
  font-family: 'atkinson';
  font-size: 1.5rem;
  font-weight: 100;
}

.footer .contact-info .easy-reach .mail-box a {
  color: #a1a1a1;
  font-family: 'atkinson';
  font-size: 1.5rem;
  font-weight: 100;
}

.footer .contact-info .main {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .contact-info .main .left {
  width: 40%;
}

.footer .contact-info .main .left .home {
  margin-bottom: 2rem;
}

.footer .contact-info .main .left .home a {
  color: white;
  text-decoration: none;
  font-family: 'atkinson';
  font-weight: 100;
  font-size: 2rem;
}

.footer .contact-info .main .left .address {
  margin-bottom: 2rem;
}

.footer .contact-info .main .left .address h2, .footer .contact-info .main .left .address p {
  color: white;
  font-family: 'atkinson';
  font-weight: 100;
  font-size: 2rem;
}

.footer .contact-info .main .left .address p {
  color: #a3a3a3;
  font-size: 1.5rem;
}

.footer .contact-info .main .left .about-us {
  margin-bottom: 2rem;
}

.footer .contact-info .main .left .about-us a {
  color: white;
  text-decoration: none;
  font-family: 'atkinson';
  font-weight: 100;
  font-size: 2rem;
}

.footer .contact-info .main .right {
  width: 40%;
}

.footer .contact-info .main .right .our-process {
  margin-bottom: 2rem;
}

.footer .contact-info .main .right .our-process h2 {
  color: white;
  font-family: 'atkinson';
  font-weight: 100;
  font-size: 2rem;
}

.footer .contact-info .main .right .faq {
  margin-bottom: 2rem;
}

.footer .contact-info .main .right .faq #faq {
  border: 2px solid white;
  background-color: transparent;
  padding: 1.5rem 3rem;
  color: white;
  font-family: 'atkinson';
  font-weight: 100;
  cursor: pointer;
}

.footer .contact-info .main .right .faq #faq span {
  margin-left: 2rem;
}

.footer .contact-form {
  width: 35%;
  height: 90%;
  border: 1px solid white;
  padding: 1rem 3.2rem;
  margin-left: 5rem;
}

.footer .contact-form h2 {
  font-size: 4rem;
  color: white;
  font-family: 'atkinson';
  margin-bottom: 1rem;
}

.footer .contact-form i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  color: #797979;
  background-color: #252525;
  padding: 1.2rem;
  margin: 0;
}

.footer .contact-form input {
  width: 19.4rem;
  border: none;
  background-color: #252525;
  margin-bottom: 1rem;
  margin-right: 1rem;
  height: 5rem;
  padding: 1.5rem;
  outline: none;
  font-family: 'atkinson';
  font-weight: 100;
  color: white;
  font-size: 1.5rem;
}

.footer .contact-form input::-webkit-input-placeholder {
  color: #797979;
  font-family: 'atkinson';
  font-weight: 100;
}

.footer .contact-form input:-ms-input-placeholder {
  color: #797979;
  font-family: 'atkinson';
  font-weight: 100;
}

.footer .contact-form input::-ms-input-placeholder {
  color: #797979;
  font-family: 'atkinson';
  font-weight: 100;
}

.footer .contact-form input::placeholder {
  color: #797979;
  font-family: 'atkinson';
  font-weight: 100;
}

.footer .contact-form input[type="email"], .footer .contact-form input[type="tel"] {
  width: 40rem;
}

.footer .contact-form textarea {
  background-color: #252525;
  border: none;
  outline: black;
  font-family: 'atkinson';
  font-weight: 100;
  color: white;
  padding: 1.5rem;
  height: 10rem;
  width: 40rem;
  resize: none;
  display: block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer .contact-form textarea::-webkit-input-placeholder {
  color: #797979;
  font-family: 'atkinson';
  font-weight: 100;
}

.footer .contact-form textarea:-ms-input-placeholder {
  color: #797979;
  font-family: 'atkinson';
  font-weight: 100;
}

.footer .contact-form textarea::-ms-input-placeholder {
  color: #797979;
  font-family: 'atkinson';
  font-weight: 100;
}

.footer .contact-form textarea::placeholder {
  color: #797979;
  font-family: 'atkinson';
  font-weight: 100;
}

.footer .contact-form .submit-btn {
  border: 2px solid white;
  background-color: transparent;
  padding: 1.5rem 3rem;
  color: white;
  font-family: 'atkinson';
  font-weight: 100;
  cursor: pointer;
  margin-bottom: 2rem;
}

.footer .contact-form .submit-btn #arrow-right {
  margin-left: 1rem;
}

.space-for-copyright {
  height: 8.5vh;
}

.copyright {
  width: 100%;
  font-family: 'atkinson';
  font-size: 1.5rem;
  color: white;
  font-weight: 100;
  text-align: center;
  padding: 2rem 0;
  background-color: #111111;
  position: absolute;
  bottom: 0;
  left: 0;
}
/*# sourceMappingURL=style.css.map */